
* {
    margin: 0;
    border: 0;
}

th {
    
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
  width:169px;
  height:25px;
  font-family: cursive;
}

table {
    margin-top: 280px;
     
     height:150px; 
  border-collapse: collapse;
  margin-bottom: 30px;
}

td{
  height: 25px;
  vertical-align: bottom;
}
  
table, th, td {
  border: 1px solid black;
}


.body {
    background-color:ghostwhite;
    font-family: monospace;
    font-size: 30px;
    font-style: oblique;
    font-weight: 100;
    text-align: center;
    height: 700px;
    width:1440px;
}


#notifs{
     font-size: 18px;
    font-family: cursive;
}

.content
{
    height: 600px;
    width: 1440px;
    display: inline-block;
    
}


.content-left
{
    float:left;
    height: 600px;
    width: 250px;
    margin: 0;
    margin-top:35px;
    margin-left: 20px;
 
   
}

.cl{
    margin-top:15px;
    font-size: 35px;
    width:199px;
     
}


.contactsplace{
    
    margin-top:500px;
    width:200px;
    height: 400px;
}

.sharingbutton{
    margin: 4px 2px;
    left: 80px;
    background-color:rgb(222, 255, 210) ;
}



.mybutton{
      margin-top: 20px;
     height:150px; 
     width: 200px;
}

shbutton{
    left: inherit;
    margin-top: 100px;
     height: 25px;
    font-size: 35px;
    width:200px;
    background-color:rgb(222, 255, 210) ;
}



button{
    margin-left: 100px;
    margin-top: 10px;
    font-size: 15px;
    width:80px;
    background-color:rgb(222, 255, 210) ;
    font-family: cursive;
}

.content-middle{
    float:left;
    height: 600px;
    width:920px;
}

.content-right{

    float:right;
    height: 600px;
    width:250px;
    margin: 0;
  
}

.cts{

   
    font-size: 18px;
    font-family: cursive;
}

#logo{
    height: 100px;
    width: 228px;
    background-image: url(./images/logoname.jpg);
}


.head{

    height: 100px;
    width:1440px;
    display: inline-block;

}

.head-left
{
    float:left;
    height: 100px;
    width: 420px;
    margin: 0;
}

.head-right{

    
    float:right;
    height: 100px;
    width:1020px;
    margin: 0;
    font-style: italic;
    text-align: center;
    font-size: 20px;
}

.input_box{
    margin-top:50px;
    border:none;
    outline: none;
    background:none;
    float:left;
    padding:0;
    color:plum;
    font-size: 25px;
    transition: 0.5s all;
    line-height: 40px;
    width:0px;
}


.btn{
    margin-top:50px;
    color:#1abc9c;
    float:left;
    text-decoration: none;
    width:40px;
    height: 40px;
    line-height: 40px;
    text-align:center ;
    border-radius: 50%;
}

.head-right:hover .input_box{
    width:240px;
    padding:0 6px;
    background-color: rgb(165, 182, 172);
}

.head-right:hover .btn{
    background-color:green;
}



.cover{

    left:100px;
    top:60px;
    background-color: white;
    height:420px;
    width:920px;
    position: absolute;
    display:none;

}

.coverr{

    
    height: 224px;
    width:872px;
    position: absolute;
    -webkit-box-shadow:0 3px 8px rgba(0 ,0 ,0 , .25);

}


.profilepicc{
    
    margin-top:75px;
    margin-left: 30px;
    width:140px;
    height:140px;
    padding:5px;
    position:absolute;
    border-radius: 2px/2px;
    -webkit-box-shadow:0 3px 8px rgba(0 ,0 ,0 , .25);
}

.username{

    left:300px;
    font-size: 18px;
    font-family: cursive;
    color:black;
    top:335px;
    height:50px;
    width:200px;
    position: absolute;

}

.box11{

    top:335px;
    left:400px;
    padding:12px;
    background-color: white;
    position: absolute;
    width:70px;
    -webkit-box-shadow:0 3px 8px rgba(0 ,0 ,0 , .25);
    height:16px;
    font-size: 18px;
    font-family: cursive;
    cursor: pointer;

}

.box12{

    top:335px;
    left:500px;
    padding:12px;
    background-color: white;
    position: absolute;
    width:70px;
    -webkit-box-shadow:0 3px 8px rgba(0 ,0 ,0 , .25);
    height:16px;
    font-size: 18px;
    font-family: cursive;
    cursor: pointer;

}

.box13{

    top:335px;
    left:600px;
    padding:12px;
    background-color: white;
    position: absolute;
    width:70px;
    -webkit-box-shadow:0 3px 8px rgba(0 ,0 ,0 , .25);
    height:16px;
    font-size: 18px;
    font-family: cursive;
    cursor: pointer;

}

.box14{

    top:335px;
    left:700px;
    padding:12px;
    background-color: white;
    position: absolute;
    width:70px;
    -webkit-box-shadow:0 3px 8px rgba(0 ,0 ,0 , .25);
    height:16px;
    font-size: 18px;
    font-family: cursive;
    cursor: pointer;

}

.postpx{

    top:440px;
    -webkit-box-shadow:0 3px 8px rgba(0 ,0 ,0 , .25);
    left:350px;
    position:absolute;
    width:600px;
    height:210px;
    display:none;
}

.post1px{

    top:660px;
    -webkit-box-shadow:0 3px 8px rgba(0 ,0 ,0 , .25);
    left:350px;
    display:none;
    position:absolute;
    width:580px;
    height:600px;
    border-radius: 3px/3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.post1p{

    top:660px;
    left:350px;
    display:none;
    position:absolute;
   
    width:580px;
    height:600px;
    border-radius: 3px/3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

#post2text{
    left:40px;
    top:0px;
    padding-top:10px;
    height:40px;
    width:400x;
}

#commentprof2{

    background-color: #1b3807;
    top:555px;
    left:10px;
    width:25px;
    height: 25px;

}

#commentboxpos2{

    
    top:550px;
    left:55px;
    width:530px;
    height: 30px;
}

#commentbox{

    top:550px;
    background-color: #c9f1cc;
    width:530px;
    height: 30px;
}

p1{
    color:#114426;
    font-family: cursive;
    font-size: 15px;
}

p2{
    color:#868383;
    font-family: cursive;
    font-size: 15px;
}

p3{
    margin-left: 50px;
    color:#114426;
    font-family: cursive;
    font-size: 15px;
}

p4{
    margin-left: 50px;
    color:#868383;
    font-family: cursive;
    font-size: 15px;
}

p6{
    color:#114426;
    font-family: cursive;
    font-size: 15px;
}

p7{
    color:#868383;
    font-family: cursive;
    font-size: 15px;
}

select{
    top:335px;
    left:800px;
    padding:10px;
    position:absolute;
    width:110px;
    -webkit-box-shadow:0 3px 8px rgba(0 ,0 ,0 , .25);
    height:40px;
    font-size:16px;
    font-family: cursive;
    border:none;
    color:black;
    cursor:pointer;

}

.aboutpad{
    left:100px;
    top:440px;
    background-color: white;
    height:360px;
    width:850px;
    position:absolute;
    display:none;
}

.aboutpadx{
    left:100px;
    top:440px;
    height:360px;
    width:850px;
    position:absolute;
    display:none;
    -webkit-box-shadow:0 3px 8px rgba(0 ,0 ,0 , .25);
}

.phpad{
    left:100px;
    top:440px;
    background-color: white;
    height:360px;
    width:850px;
    position:absolute;
    display:none;
}

.phpadx{
    left:100px;
    top:440px;
    height:360px;
    width:850px;
    position:absolute;
    display:none;
    -webkit-box-shadow:0 3px 8px rgba(0 ,0 ,0 , .25);
}

.frnpad{
    left:100px;
    top:440px;
    height:360px;
    width:850px;
    position:absolute;
    display:none;
}

.frnpadx{
    left:100px;
    top:440px;
    height:360px;
    width:850px;
    position:absolute;
    display:none;
    -webkit-box-shadow:0 3px 8px rgba(0 ,0 ,0 , .25);
}

.coverpadx{
    left:100px;
    top:60px;
    background-color: white;
    height:360px;
    width:850px;
    position:absolute;
    -webkit-box-shadow:0 3px 8px rgba(0 ,0 ,0 , .25);
}

.postp{
    top:440px;
    left:350px;
    position:absolute;
    width:600px;
    height:210px;
    display:none;
}

#column-1{
    left:0px;
    top:0px;
    background-color: white;
    width:580px;
    height:200px;
    border-radius: 3px/3px;
    font-size:15px;
    font-family: cursive;
    color:black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

#postpos{
    top:170px;
    left:450px; 
    width:85px;
    height:30px;
    
}

#buttonpost{

    width:85px;
    height:30px;
    border-radius: 4px/4px;
    background-color: black;
    font-size: 15px;
    outline: none;
    color:white;
    
}

#postboxpos{

    top:45px;
    left:10px;
    height:105px;
    width:580px;
    z-index:5;

}

#postbox{

    top:45px;
    left:10px;
    outline:none;
    border:white;
    background-color: #e9f0f2;
    height:105px;
    width:580px;

}



.chat-sidebar{

    
    width:200px;
    position:fixed;
    height:450px;
    margin-top:200px;
   
    
    
}


#chatnamebox0{
    width:150px;
    height:30px;
    font-size: family;
    margin-left:25px;
    top:250px;
    color:black;
    padding-top: 8px;
    padding-left: 50px;
}



#chatnamebox1{
    width:150px;
    height:30px;
    background-color: #e9f0f2;
    margin-left:25px;
    top:300px;
    color:black;
    padding-top: 8px;
    padding-left: 50px;
}

#chatnamebox2{
    width:150px;
    height:30px;
    top:350px;
    background-color: #e9f0f2;
    margin-left:25px;
    color:black;
    padding-top: 8px;
    padding-left: 50px;
}

#chatnamebox3{
    width:150px;
    height:30px;
    top:400px;
    background-color: #e9f0f2;
    color:black;
    margin-left:25px;
    padding-top: 8px;
    padding-left: 50px;
}

#chatnamebox4{
    width:150px;
    height:30px;
    top:450px;
    color:black;
    background-color: #e9f0f2;
    margin-left:25px;
    padding-top: 8px;
    padding-left: 50px;
}

#chatnamebox5{
    width:150px;
    height:30px;
    top:265px;
    color:black;
    margin-left:35px;
    background-color: #e9f0f2;
    padding-top: 8px;
    padding-left: 50px;
}

#chatnamebox6{
    width:150px;
    height:30px;
    top:305px;
    color:black;
    background-color: #e9f0f2;
    margin-left:35px;
    padding-top: 8px;
    padding-left: 50px;
}
#chatnamebox7{
    width:150px;
    height:30px;
    top:345px;
    color:black;
    background-color: #e9f0f2;
    margin-left:35px;
    padding-top: 8px;
    padding-left: 50px;
}
#chatnamebox8{
    width:150px;
    height:30px;
    top:385px;
    color:black;
    background-color: #e9f0f2;
    margin-left:35px;
    padding-top: 8px;
    padding-left: 50px;
}
#chatnamebox9{
    width:150px;
    height:30px;
    top:425px;
    color:black;
    background-color: #e9f0f2;
    margin-left:35px;
    padding-top: 8px;
    padding-left: 50px;
}

#chatnamebox10{
    width:150px;
    height:30px;
    top:465px;
    color:black;
    background-color: #e9f0f2;
    margin-left:35px;
    padding-top: 8px;
    padding-left: 50px;
}

#chatnamebox11{
    width:150px;
    height:30px;
    top:505px;
    color:black;
    background-color: #e9f0f2;
    margin-left:35px;
    padding-top: 8px;
    padding-left: 50px;
}

#chatnamebox12{
    width:150px;
    height:30px;
    top:545px;
    color:black;
    background-color: #e9f0f2;
    margin-left:35px;
    padding-top: 8px;
    padding-left: 50px;
}

#chatnamebox13{
    width:150px;
    height:30px;
    top:585px;
    color:black;
    background-color: #e9f0f2;
    margin-left:35px;
    padding-top: 8px;
    padding-left: 50px;
}

#chatnameboxp1{
    
    float:right;
    width:30px;
    height:30px;
    top:300px;
}

#chatnameboxp2{
    width:30px;
    height:30px;
    top:400px;
}

#chatnameboxp3{
    width:30px;
    height:30px;
    top:350px;
}



#chatnamebox:hover{
    background-color: #e1e5e6;
}

#chatnamebox1:hover{
    background-color: #e1e5e6;
}

#chatnamebox2:hover{
    background-color: #e1e5e6;
}

#chatnamebox3:hover{
    background-color: #e1e5e6;
}

#chatnamebox4:hover{
    background-color: #e1e5e6;
}

#chatnamebox5:hover{
    background-color: #e1e5e6;
}

#chatnamebox6:hover{
    background-color: #e1e5e6;
}

#chatnamebox7:hover{
    background-color: #e1e5e6;
}

#chatnamebox8:hover{
    background-color: #e1e5e6;
}

#chatnamebox9:hover{
    background-color: #e1e5e6;
}

#chatnamebox10:hover{
    background-color: #e1e5e6;
}

#chatnamebox11:hover{
    background-color: #e1e5e6;
}

#chatnamebox12:hover{
    background-color: #e1e5e6;
}

#chatnamebox13:hover{
    background-color: #e1e5e6;
}


