/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #78dd34;
  font-family: 'B612', sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(224, 160, 22);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #d69927;
  color: white;
}

.logo {
  position: absolute;
  left: 2%;
  top: -1%;
  width: 170px;
  height: 90px;
}
