
* {
  margin: 0;
  border: 0;
}


.body {
  background-color:ghostwhite;
  font-family: monospace;
  font-size: 30px;
  font-style: oblique;
  font-weight: 100;
  text-align: center;
  height: 700px;
  width:1440px;
}

#logo{
  height: 100px;
  width: 228px;
  background-image: url(../Images/logoname.jpg);
}

#image{
  height: 650px;
  width: 720px;
  background-image: url(../Images/imagename.jpg);
}

.txt{
  margin-top: 50px;
  color: darkslategrey;
  border-left: 10px;
  
  cursor:pointer;
}



.join{
  color:  darkslategrey;
  border-left: 10px;
 
  margin-top: 200px;
  width: 200px;
  margin-left: 220px;

}


.content
{
  height: 600px;
  width: 1440px;
  display: inline-block;
  
}

#welcome
{
  font-size: 60px;
  font-style: italic;
  margin-top: 100px;
}

.content-left
{
  float:left;
  height: 600px;
  width: 800px;
  margin: 0;

 
}

.content-right{

  float:right;
  text-align: center;
  height: 600px;
  width:640px;
  margin: 0;

}




.headd{

  height: 100px;
  width:1440px;
  display: inline-block;

}

.head-left
{
  float:left;
  height: 100px;
  width: 720px;
  margin: 0;
}

.head-right{

  
  float:right;
  height: 100px;
  width:720px;
  margin: 0;
  font-style: italic;
  text-align: center;
  font-size: 20px;
}

