
* {
  margin: 0;
  border: 0;
}


.body {
  background-color:ghostwhite;
  font-family: monospace;
  font-size: 30px;
  font-style: oblique;
  font-weight: 100;
  text-align: center;
  height: 700px;
  width:1440px;
}

.l{
  margin-top: 50px;
  color: darkslategrey;
  border-left: 10px;
  margin-left: 200px;
  font-size: 13px;
  cursor:pointer;
}

#logo{
  height: 100px;
  width: 228px;
  background-image: url(Images/logoname.jpg);
}

.box {
  margin-top: 150px;
  margin-left: 500px;
  border: 3px solid green ;
  height:250px;
  width:450px;
}

.boxe {
  margin-top: 1px;
  margin-left: 150px;
  border: 1px solid green ;
  height:30px;
  width:250px;
}

.boxp {
  margin-top: 1px;
  margin-left: 150px;
  border: 1px solid green ;
  height:30px;
  width:250px;
}

.txt{
 
  color: darkslategrey;
  border-left: 10px;
  cursor:pointer;
}

.login{
 
  margin-left: 190px;
  margin-top: 10px;
  color: darkslategrey;
  font-style: italic;
  cursor:pointer;
}

.ep{
 
  margin-top: 18px;
  margin-left: 20px;
  width: 100px;
  color: darkslategrey;
  font-style: italic;
  border-left: 10px;
  cursor:pointer;
}

.content
{
  height: 600px;
  width: 1440px;
  display: inline-block;
  
}


.headd{

  height: 100px;
  width:1440px;
  display: inline-block;

}

.head-left
{
  float:left;
  height: 100px;
  width: 720px;
  margin: 0;
}
.head-right{

  
  float:right;
  height: 100px;
  width:720px;
  margin: 0;
  font-style: italic;
  text-align: center;
  font-size: 20px;
}


