
* {
  margin: 0;
  border: 0;
}


.body {
  background-color:ghostwhite;
  font-family: monospace;
  font-size: 30px;
  font-style: oblique;
  font-weight: 100;
  text-align: center;
  height: 700px;
  width:1440px;
}


#logo{
  height: 100px;
  width: 228px;
  background-image: url(../Images/logoname.jpg);
}

#image{
  height: 630px;
  width: 760px;
  background-image: url(../Images/reg.jpg);
}

.txt{
  margin-top: 50px;
  color: darkslategrey;
  border-left: 10px;
  
  cursor:pointer;
}


.content
{
  height: 600px;
  width: 1440px;
  display: inline-block;
  
}


.content-left
{
  float:left;
  height: 600px;
  width: 800px;
  margin: 0;

 
}

.content-right{

  float:right;
  text-align: center;
  height: 600px;
  width:640px;
  margin: 0;

}




.headd{

  height: 100px;
  width:1440px;
  display: inline-block;

}

.head-left
{
  float:left;
  height: 100px;
  width: 720px;
  margin: 0;
}

.head-right{

  
  float:right;
  height: 100px;
  width:720px;
  margin: 0;
  font-style: italic;
  text-align: center;
  font-size: 20px;
}

.box {

  margin-top:50px;
  border: 3px solid green ;
  height:250px;
  width:450px;
}

.message
{
  color: darkslategrey;
  border-left: 10px;
  font-size: large;
  cursor:pointer;
  margin-top:30px;
  
}

input [type=text]{

    margin-top:50px;
    width:100%;
    border: 2px solid royalblue;
    border-radius: 4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing: border-box;
    transition:.3s;
}

.separator{
    margin-top:20px;
    margin-left:20px;
}

input [type=text]:focus{
 
    border-color:dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

.text{
    margin-top:50px;
}

button{
    position: relative;;
    
    transform:translate(-50%,-50%);
}
.btn{
    margin-top:30px;
    color:#ccc;
  
}

.b{
  margin-top: 50px;
  color: darkslategrey;
  border-left: 10px;
  cursor:pointer;
  color:papayawhip;
}